body {
	background-color: thistle;
	justify-content: center;
	align-items: center;
}

h2 {
	text-align: center;
}

.column {
	display: flex;
	flex-direction: column;
}

canvas {
	background-color: white;
	margin-top: 0.5rem;
}